In [191]:
import pandas as pd
import numpy as np

In [192]:
merge_df=pd.merge(df1,df2, left_on='movie_id', right_on='id')

In [193]:
df1=pd.read_csv(r'C:\\Users\\WIN10 PRO\\tmdb_5000_credits.csv')
df2=pd.read_csv(r'C:\\Users\\WIN10 PRO\\tmdb_5000_movies.csv')

In [194]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              4803 non-null   int64
 1   title_x               4803 non-null   object
 2   cast                  4803 non-null   object
 3   crew                  4803 non-null   object
 4   budget                4803 non-null   int64
 5   genres                4803 non-null   object
 6   homepage              1712 non-null   object
 7   id                    4803 non-null   int64
 8   keywords              4803 non-null   object
 9   original_language     4803 non-null   object
 10  original_title        4803 non-null   object
 11  overview              4800 non-null   object
 12  popularity            4803 non-null   float64
 13  production_companies  4803 non-null   object
 14  production_countries  4803 non-null   object
 15  release_date          4802 non-null   object
 16  revenue               4803 non-null   int64
 17  runtime               4801 non-null   float64
 18  spoken_languages      4803 non-null   object
 19  status                4803 non-null   object
 20  tagline               3959 non-null   object
 21  title_y               4803 non-null   object
 22  vote_average          4803 non-null   float64
 23  vote_count            4803 non-null   int64
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [195]:
merge_df.head()

,movie_id,title_x,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19/05/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26/10/2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16/07/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07/03/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [196]:
merge_df.isnull().sum()

movie_id                   0
title_x                    0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_y                    0
vote_average               0
vote_count                 0
dtype: int64

In [197]:
merge_df.drop(columns=['homepage'],inplace=True)

In [198]:
merge_df.isnull().sum()

movie_id                  0
title_x                   0
cast                      0
crew                      0
budget                    0
genres                    0
id                        0
keywords                  0
original_language         0
original_title            0
overview                  3
popularity                0
production_companies      0
production_countries      0
release_date              1
revenue                   0
runtime                   2
spoken_languages          0
status                    0
tagline                 844
title_y                   0
vote_average              0
vote_count                0
dtype: int64

In [199]:
merge_df['tagline'].fillna('Unknown', inplace=True)

C:\Users\WIN10 PRO\AppData\Local\Temp\ipykernel_17564\564132644.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge_df['tagline'].fillna('Unknown', inplace=True)

In [200]:
merge_df=merge_df[['id','title_x','cast','crew','keywords','genres','overview']]

In [201]:
merge_df.dropna(inplace=True)

In [202]:
import ast

In [203]:
def get_name(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [204]:
merge_df['keywords']=merge_df['keywords'].apply(get_name)

In [205]:
merge_df['genres']=merge_df['genres'].apply(get_name)

In [206]:
merge_df['cast']=merge_df['cast'].apply(get_name)

In [207]:
merge_df.head()

,id,title_x,cast,crew,keywords,genres,overview
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca..."

In [208]:
def director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [209]:
merge_df['crew']=merge_df['crew'].apply(director)

In [210]:
merge_df

,id,title_x,cast,crew,keywords,genres,overview
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez],"[united states–mexico barrier, legs, arms, pap...","[Action, Crime, Thriller]",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...",[Edward Burns],[],"[Comedy, Romance]",A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith],"[date, love at first sight, narration, investi...","[Comedy, Drama, Romance, TV Movie]","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",[Daniel Hsia],[],[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]","[obsession, camcorder, crush, dream girl]",[Documentary],Ever since the second grade when he first saw ...

In [211]:
merge_df['overview']=merge_df['overview'].apply(lambda x:x.split())

In [212]:
merge_df['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [213]:
merge_df['tags'] = merge_df['overview'] + merge_df['genres'] + merge_df['keywords'] + merge_df['cast'] + merge_df['crew']

In [214]:
merge_df.drop(columns=['cast','crew','keywords','genres','overview'])

,id,title_x,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4798,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4799,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4800,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4801,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4802,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [215]:
merge_df['tags'] = merge_df['tags'].apply(lambda x: " ".join(x))

In [216]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

def preprocess_text(text):
    tokens = text.lower().split()
    filtered_tokens = [word for word in tokens if word not in stopwords.words('english')]
    return " ".join(filtered_tokens)

[nltk_data] Downloading package stopwords to C:\Users\WIN10
[nltk_data]     PRO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
merge_df['tags']=merge_df['tags'].apply(preprocess_text)

In [ ]:
merge_df.head()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2), max_df=0.85, min_df=2)
x = vectorizer.fit_transform(merge_df['tags']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cos_sim = cosine_similarity(x)

In [ ]:
cos_sim

In [ ]:
def recommend_movies(movie_name, merge_df, cosine_sim_matrix, top_n=10):
    if movie_name not in merge_df['title_x'].values:
        return f"Movie '{movie_name}' not found in the dataset."
        
    movie_index = merge_df[merge_df['title_x'] == movie_name].index[0]
    similarity_scores = cosine_sim_matrix[movie_index]
    similar_movies_indices = similarity_scores.argsort()[-(top_n + 1):-1]
    movie_recommendations = []
    for i in similar_movies_indices:
        movie_recommendations.append((merge_df['title_x'][i], similarity_scores[i]))
    
    return movie_recommendations

In [ ]:
movie_name = input("Enter movie title: ")
recommended_movies = recommend_movies(movie_name, merge_df, cos_sim, top_n=10)
for i, (title, _) in enumerate(recommended_movies, 1):
    print(f"{i}. {title}")